<h5 class="mt-5">Create a New Event</h5>
<div class="card rounded-0">
  <div class="card-body">
    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
      <div class="form-group">
        <label>Title</label>
        <input name="Title" #Title="ngModel" [(ngModel)]="todoService.Title" class="form-control rounded-0" placeholder="Title" required maxlength="110">
      </div>
      <button type="submit" [disabled]="form.invalid" class="btn btn-sm btn-primary rounded-0">Submit</button>
    </form>
  </div>
</div>